extends ../layout

block content

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)

  .page-header
    h3 Delete Account

  p You can delete your account (it's just a link to your Github account)
  form(action='/account/delete', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    button.btn.btn-danger(type='submit')
      span.ion-trash-b
      | Delete my account

