footer
  .container.text-center
    p.pull-left Mozilla Foundation
    ul.pull-right.list-inline
      li
        a(href='https://github.com/MozillaFoundation/intake') GitHub Project
      li
        a(href='https://github.com/MozillaFoundation/intake/issues') Issues
