div.footer
  p.pull-left Mozilla Foundation
  ul.pull-right.list-inline
    li
      a(href='https://github.com/MozillaFoundation/plan') GitHub Project
    li
      a(href='https://github.com/MozillaFoundation/plan/issues?q=is%3Aopen+is%3Aissue+label%3Adashboard') Issues
