.login
  if !user
    li(class=title=='Sign in'?'active':undefined)
      a(href='/login') Sign in
  else
    li.dropdown(class=title=='Account Management'?'active':undefined)
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        img.user(src='#{user.avatar_url}')
        | #{user.name || user.login}&nbsp;
        i.caret
      ul.dropdown-menu
        li
          a(href='/logout')
            span.ion-log-out
            |  Logout
