export PLAN_SESSION_SECRET=this is a dev secret
export PLAN_GITHUB_CLIENTID="my personal clientid"
export PLAN_GITHUB_CLIENTSECRET="my personal clientsecret"
export PLAN_GITHUB_TOKEN="my personal access token"
export PLAN_GITHUB_HOST="http://localhost:3000"
