<div id="add">
  <div class="question">
    <h2>Give your project a name.</h2>
    <p>In as few words as possible, describe what this project is about.</p>
    <textarea name="name" rows="2"></textarea>
  </div>

  <div class="question">
    <h2>What is the problem you are trying to solve?</h2>
    <p>Describe what’s broken or missing from the experience of Webmaker.</p>
    <textarea name="problem" rows="8"></textarea>
  </div>

  <div class="question">
    <h2>Who are the users you are trying to impact?</h2>
    <p>Describe who is being affected by the problem you have described (visitors, teachers, staff, community).</p>
    <textarea name="audience" rows="8"></textarea>
  </div>

  <div class="question">
    <h2>What does success look like?</h2>
    <p>Describe the "state change" that you wish to accomplish. Do you have metrics that we can reference?</p>
    <textarea name="success" rows="8"></textarea>
  </div>

  <div class="question">
    <h2>What is your vision for a solution?</h2>
    <p>Describe a high level solution to solve the problem. Think about the most important, impactful part of the solution.</p>
    <textarea name="vision" rows="8"></textarea>
  </div>

  <button>Submit Project</button>
</div>
