extends layout

block content
  .page-header
    h3 Create a new Project

    form.form#intake(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)

      .row.step#step1
        h3 What is the problem that you are trying to solve?
        h5 What ails you? What's broken? What's missing? What would be cool?
        ul
          li Is this a long running problem? Have we tried to solve this in the past and failed?
          li Who is already working on the problem?
        .form-group
          .row
            .col-sm-8
              textarea.form-control(name="problem", rows="3", placeholder="e.g. Too few visitors register for an account.")

      .row.step.hidden#step2
        h3 Who are the users you are trying to impact?
        h5 Visitors, learners, mentors, teachers, partners, staff, community?
        .form-group
          .row
            .col-sm-8
              textarea.form-control(name="audience", rows="3", placeholder="e.g. The mass of visitors to BBC web properties. There are roughly X Million visitors to BBC web properties. The demographics of which are extremely broad and include the UK, Canada, and USA.")

      .row.step.hidden#step3
        h3 What does success look like?
        h5 Describe the "state change" that you wish to accomplish.
        ul
          li How will we know if we've succeeded or failed? Do we have metrics that we can reference?
          li How does that state change relate to our core values?
        .form-group
          .row
            .col-sm-8
              textarea.form-control(name="success", rows="3", placeholder="e.g. Track the progress of 7000 unique visitors through the creation of an online profile. Each should have a picture and some text identifying their online persona.")

      .row.step.hidden#step4
        h3 What is your vision for a solution?
        h5 Describe a high level solution to solve the problem.
        ul
          li What have you done to fix the problem already? Do you have prior art?
          li Has anyone else solved this problem (inside or outside of Mozilla)? If applicable, share URLs, organizations, or other services as benchmarks.
        .form-group
          .row
            .col-sm-8
              textarea.form-control(name="vision", rows="3", placeholder="e.g. Temporarily, a panzerotti would provide the required nutrients.")

      .row.step.hidden#step5
        h3 What does the MVP look like?
        h5 What is the bare-bones set up and solves the problem?
        ul
          li Think about the most important, impactful part of the solution.
          li What is the smallest thing we can do to start to make that state change?
          li Where will your solution be hosted (where applicable)?
        .form-group
          .row
            .col-sm-8
              textarea.form-control(name="mvp", rows="3", placeholder="e.g. An simple form on webmaker.org/hunger through which people can tell us which panzerotti ingredients would satiate them.")

      .row.step.hidden#step6
        h3 What are the risks associated with producing a solution to the problem?
        h5 Describe a high level solution to solve the problem.
        ul
          li Think short term and long term. What kind of assets will be created for tools that are being phased out?
          li How much time will be needed to maintain what we make? How much money will it cost? Is it resource-intensive?
          li Are there any hard partnerships, commitments, or events that depend on the solution?
        .form-group
          .row
            .col-sm-8
              textarea.form-control(name="risks", rows="3", placeholder="e.g. The programs and assets we're creating rely on having an instance of Thimble running.")

      span.btn.btn-primary#continue(onclick="nextstep()") Continue
