extends layout

block content
  script(src="/js/firebase/firebase.js")
  script(src="/js/reactfire/dist/reactfire.min.js")
  script(type="text/jsx", src="/js/mentions.js")

  h2 Who's mentioned whom
  div#people
