extends layout

block content
  .row
    .col-sm-6
      h2 Happening now
        a.deadline#deadline
      p What people are busily working on
      div#issues
    .col-sm-6
      h2 Next Sprint
        a.deadline#deadline-next
      p Things we will focus on next
      div#issues-next
  h2 Backlog
  p We have a 
    a(href="https://waffle.io/mozillafoundation/plan") calendar view 
    span as well as a list of 
    a(href="https://github.com/MozillaFoundation/plan/issues?q=is%3Aopen+is%3Aissue+no%3Alabel") unscheduled projects.
