extends layout

block content

  h2 Happening now
    a.deadline#deadline
  p What people are busily working on

  div#heartbeat
    div.week#week1
      div.day#day1
        span Mon
      div.day#day2
        span Tue
      div.day#day3
        span Wed
      div.day#day4
        span Thu
      div.day#day5
        span Fri
      div.day.weekend#day6
        span Sat
      div.day.weekend#day7
        span Sun
    div.week#week1
      div.day#day8
        span Mon
      div.day#day9
        span Tue
      div.day#day10
        span Wed
      div.day#day11
        span Thu
      div.day#day12
        span Fri
      div.day.weekend#day13
        span Sat
      div.day.weekend#day14
        span Sun
    div#timeleft

  div#issues
  ul#roles
  h2 Backlog
  p We have a 
    a(href="https://waffle.io/mozillafoundation/plan") calendar view 
    span as well as a list of 
    a(href="https://github.com/MozillaFoundation/plan/issues?q=is%3Aopen+is%3Aissue+no%3Alabel") unscheduled projects.
  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      showIssuesBasedOnQueryString();
      EEG();
    });
