<div id="splash">
    <div class="masthead">
        <div class="wrap">
            <h1>Let's Build Webmaker Together</h1>

            <div class="center">
                <a class="button btn-white" href="/add">Add Project</a>
                <a class="button btn-white" href="/now">This Sprint</a>
            </div>
        </div>
    </div>

    <div class="copy">
        <div class="wrap">
            <div class="center">
                <h4>Our Mission</h4>
            </div>

            <div class="columns">
                <p>The Mozilla Foundation is a non-profit organization that promotes openness, innovation and participation on the Internet. We promote the values of an open Internet to the broader world.</p>
                <p>Mozilla is best known for the Firefox browser, but we advance our mission through other software projects, grants and engagement and education efforts such as Mozilla Webmaker.</p>
                <p>Webmaker is all about building a new generation of digital creators and webmakers, giving people the tools and skills they need to move from using the web to actively making the web.</p>
                <p>If you're interested in supporting our efforts, please consider getting involved with Mozilla Webmaker or Open Badges, making a donation or getting involved with the Mozilla community.</p>
            </div>
        </div>
    </div>
</div>
