export PLAN_SESSION_SECRET=put a thing here
export PLAN_GITHUB_CLIENTID="xxx"
export PLAN_GITHUB_CLIENTSECRET="xxx"
export PLAN_GITHUB_TOKEN="xxx"
export PLAN_GITHUB_HOST="https://build.webmaker.org"
