#add {
    p {
        margin: 0;
        font-weight: 400;
        font-size: 0.76em;
        font-kerning: normal;
    }

    textarea {
        width: 100%;
        margin-top: 10px;
        background-color: @white;
        border: 1px solid @gray;
    }

    .question {
        margin-bottom: 40px;
    }
}
