#sprint {
    .issues {
        list-style: none;
        margin: 0;
        padding: 0;

        img {
            width: 84px;
            height: 84px;
            border-radius: 50%;
        }
    }

    .labels {

    }
}
